.header{
    padding-top: 100px;

    
}
h1{
    color: rgba(182, 106, 7, 0.575);
    /* font-size: 600%; */
    font-family: "Times New Roman", Times, serif;
    font-size:  60px !important;    
    
}

.btnalign{
    align-self:flex-end;
    flex:1;
}
.input-group{
    display: flex;
    margin-left: 4rem;
    width: 15rem;
}
.alignClass{
    flex:1;
    width: 100%;
}
.container{
    width: 100%;
    display: flex;
}
.wrapper{
    
    align-self: flex-start;
}
