.category-table-row{
    background-color: #EDE4E0;
    color: black;
    border-radius: 3px;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 5px;
}

category-table-row i{
    padding: 0 20px 0 20px;
}