@tailwind base;

@tailwind components;

@tailwind utilities;

.Logo{

height: 120px;
width: 120px; 

/* position: fixed;
right:720px;
top:20px; */


}
.text{
    font-style: italic;
    font-weight: bold;
    color:red;
}
.Title{
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    padding-left: 10px;
    padding-top: 25px;
    color:red;
}

.Forgot{
    color:purple;
    align-items: right;
    padding-left: 100px;
    padding-top: 0px;
}
